<div class="navbar-main">
  <img src="credenca-logo.png" alt="Logo" class="navbar-logo" />
  <p class="navbar-center">CEO Dashboard</p>
  <div class="navbar-right">
    <button class="logout-button" (click)="logout()">Logout</button>
  </div>
</div>
 
<div>
  <div class="table-container">
    <table class="candidate-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Position</th>
          <th>HR Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let candidate of candidates" (click)="openModal(candidate)">
          <td>{{ candidate.Candidate_Name }}</td>
          <td>{{ candidate.Position }}</td>
          <td>{{ candidate.HR_Name }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  

  <!-- Modal -->
  <div class="modal" *ngIf="selectedCandidate">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <h3>{{ selectedCandidate.Candidate_Name }} - Details</h3>
      <p><strong>Position:</strong> {{ selectedCandidate.Position }}</p>
      <p><strong>HR Name:</strong> {{ selectedCandidate.HR_Name }}</p>

      <h4>Interview Rounds:</h4>
      <table>
        <thead>
          <tr>
            <th>Round Number</th>
            <th>Interviewer</th>
            <th>Interview Date</th>
            <th>Status</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let round of selectedCandidate.interviewRounds">
            <td>{{ round.Round_Number }}</td>
            <td>{{ round.Interviewer }}</td>
            <td>{{ round.Interview_Date }}</td>
            <td>{{ round.Status }}</td>
            <td>{{ round.Remarks }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
